[2016-04-07 00:43] rickbau5 opened #4 "Register"
Add page for registering a new user

[2016-04-07 00:44] rickbau5 opened #5 "Login"
Add page and route to page to login

[2016-04-07 00:45] rickbau5 opened #6 "Logout"
Add page and route to logging out

[2016-04-07 00:50] rickbau5 opened #7 "Error requesting password reset"
Getting an error requesting a password reset:

`at Swift_Transport_AbstractSmtpTransport->_assertResponseCode('530 5.7.1 Authentication required ', array('250')) in AbstractSmtpTransport.php `

[2016-04-07 00:50] rickbau5 opened #8 "Request Password Reset"
Add method for users to request a password reset

[2016-04-07 00:52] rickbau5 opened #9 "Request Username Retrieval"
Add method for users to request retrieval of their usernames.

[2016-04-07 00:53] rickbau5 opened #10 "Delete Account"
Add method for users to delete their account.

[2016-04-07 00:58] rickbau5 opened #11 "Promote User to Admin"
Add a method for admin users to promote other users to admin.

[2016-04-07 00:59] rickbau5 opened #12 "Demote Admin"
Add a method for admin users to demote other admin users.

[2016-04-07 01:00] rickbau5 opened #13 "Block User"
Add a method for a user to block another user, thereby not seeing messages (and other things?).

[2016-04-07 01:00] rickbau5 opened #14 "Add New File to Project"
Add a method for users to add files to the project

[2016-04-07 01:02] rickbau5 opened #15 "Add Existing File to Project"
Add a method to upload an existing file to a project

[2016-04-07 01:02] rickbau5 opened #16 "Delete File"
Add a method for users to delete a file.

[2016-04-07 01:03] rickbau5 opened #17 "Modify Chat Settings"
Users should be able to edit the color and font for the chat window.

[2016-04-07 01:06] rickbau5 opened #18 "Add a Generic Error Page"
Like the title, add a generic error page. Some nice message that something went wrong, and maybe a drop down to show full error log (until production)

[2016-04-07 01:13] rickbau5 opened #19 "Browse Project Ideas"
Add a page to browse all projects ideas

[2016-04-07 01:13] rickbau5 opened #20 "Project Idea Page"
Add a page that will contain all information regarding the project idea

[2016-04-07 01:14] rickbau5 opened #21 "Create Project Idea"
Add a method for users to create a new project idea for submission

[2016-04-07 01:14] rickbau5 opened #22 "Edit Project Idea"
Add a method for the author(s) of a project idea to edit the project idea

[2016-04-07 01:15] rickbau5 opened #23 "Project Idea - Social"
Add a method for users to:
- Comment
- Like/Dislike
- Follow/Unfollow

a project idea

[2016-04-07 01:18] rickbau5 opened #24 "User Profiles"
Registered users should have a profile page with information about them. These should be reachable through links from all content submitted by them (perhaps also a way to search for users)

[2016-04-07 01:18] rickbau5 commented on #5
Resolved with #1

[2016-04-07 01:18] #5 closed

[2016-04-07 01:19] rickbau5 commented on #6
Resolved with #1

[2016-04-07 01:19] rickbau5 commented on #4
Resolved with #1

[2016-04-07 01:19] #4 closed

[2016-04-07 01:19] #6 closed

[2016-04-07 01:19] rickbau5 commented on #8
Resolved with #1

[2016-04-07 01:19] #8 closed

[2016-04-07 05:23] brandonjank commented on #7
It should be set to MAIL_Driver=mail if you want e-mails to be sent. No need to change other settings with the simple php mail driver.

[2016-04-07 16:14] brec9824 commented on #7
Brandon are you sure the server is setup to send emails or if their is something else that needs to be set? Because the error goes away but I am not receiving the email.

[2016-04-07 18:23] rickbau5 opened #26 "Setting Up MySQL Database"
Could we get some instructions for everyone on how to set up their MySQL database? I just got mine set up, but i sort of used a work around. Just dumped @brec9824's, changed the db name in it and uploaded it to phpmyadmin. Dunno if this is how everyone should be doing it, but it worked for me.

Thoughts @backburn?

[2016-04-07 18:47] brec9824 commented on #7
I will just add this if anyone doesn't want it to send emails but want it to log:

In .env file set MAIL_Driver=log. The log is found in config/logs/laravel.log at the very bottom it will include the email with the reset link.

[2016-04-07 18:49] brandonjank commented on #7
try the sendmail driver if mail is not working. Also check the spam folder.

[2016-04-07 18:58] brandonjank commented on #7
I verified that sendmail is installed and php is configured to use it. Try MAIL_Driver=sendmail in your .env

[2016-04-07 19:04] brec9824 commented on #7
Yep that fixed it now it works.

[2016-04-07 19:07] brandonjank commented on #26
That method works, but should not be done that way. The database is setup by the artisan command that runs the database migration code. See https://laravel.com/docs/5.2/migrations

If your code needs new tables in the database then you will need to write a migration. Migrations are in squireproject/database/migration/

TLDR: run the command "php artisan migrate" while in the squireproject folder.

[2016-04-07 19:11] #26 closed

[2016-04-07 19:17] brandonjank commented on #7
I have updated the .env.example to fix this. Closing.

[2016-04-07 19:17] #7 closed

[2016-04-07 19:18] rickbau5 commented on #20
Tackling this to get familiar with the system, just setting up the skeleton project page

[2016-04-07 19:39] backburn opened #27 "Add more documentation to the Wiki"
We need more documentation for the wiki. I've placed what was in c9 in the wiki. Click 'New Page' at the top to add a new page, or edit existing pages for clarity.

[2016-04-07 19:43] backburn opened #28 "Update readme.md to reflect the squire project."
The readme.md currently has information about the Laravel framework. It needs to be about our project. Sources for prose can be found in the Master Requirements Specification.

[2016-04-07 19:49] backburn opened #29 "Setup travis.ci"
The project should be linked to travis.ci so that all branches can be continually unit tested after each commit.

[2016-04-07 19:56] brandonjank commented on #28
Work complete.

[2016-04-07 19:56] #28 closed

[2016-04-07 20:18] brandonjank commented on #9
we could also allow them to use their e-mail or username to login.

[2016-04-08 05:43] rickbau5 commented on #27
I did a bit of editing to use markdown. I'll be sure to use this as I find more things to add. Make sure to push this wiki so people look at it and use it!

[2016-04-08 06:03] rickbau5 opened #31 "Internal Team Communication"
TL:DR - We need to communicate more, and find a platform that we can do that on! I suggest Slack, see below :+1:

I think the team's communication could be dramatically improved. As it stands, the only correspondence we do outside of our meetings is either through C9 or now increasingly GitHub. C9 was a great solution while most of our work was done there, but now I find myself on there far less t

[2016-04-08 07:50] brec9824 commented on #31
+1 I definitely think we need to get our team communicating more because it has been lacking. I don't really have a preference for any comm software so it doesn't matter to me what we use. Slack sounds good to me.

[2016-04-08 17:48] rickbau5 commented on #31
Cool cool. Let's get some more opinions on this. I really think Slack is a great option :+1:

Also just a heads up, I won't be at the meeting this afternoon. I'll probably be online by then, but i won't be in moscow. I plan on working on the Project Ideas stuff more. I've made a temp project page, and will be adding the create project flow, and modifying the projectfinder page to retrieve actual p

[2016-04-08 20:11] drop-table-lol commented on #31
Looks good to me, I don't have much of a preference either, but I think you're both right in pushing for more communication.

[2016-04-08 21:19] rickbau5 commented on #31
Ok so it is free, I went ahead and reserved the domain. You can sign up here:  https://uidaho.slack.com/x-33299441681-33292950496/signup.

[2016-04-08 22:05] backburn opened #32 "Review all class diagrams."
Review all class diagrams, consider all aggregations to see if they should instead be a user-defined association. If they have an association name, get the diamond off them; it is either/or. Association names should not be whole sentences or long phrases; those go in the diagram dictionary.

[2016-04-08 22:05] backburn opened #33 "Add "diagram dictionary" below each class diagram"
Add "diagram dictionary" below each class diagram if you do not have it already, defining the semantics of your classes and associations.

[2016-04-08 22:07] backburn opened #34 "Add "Created by X, reviewed by X." to the footer of each diagram."
Review and/or add reviewer information to sequence diagrams if it is not already present.

[2016-04-08 22:12] bolt1003 opened #35 "Make Profile Page: General"
Create a general profile page with name, email, bio, etc.

[2016-04-08 22:13] bolt1003 opened #36 "Make Profile Page: Friends"
Create a profile pages with a list of friends a user has.

[2016-04-08 22:13] bolt1003 opened #37 "Make Profile Page: Projects"
Create a profile page with a list of projects a user is a part of.

[2016-04-08 22:24] rickbau5 commented on #37
I've created a projects table and project model for us, once i get it pushed to the main branch you'll be able to grab the list of projects a user is a part of

[2016-04-09 18:41] rickbau5 opened #38 "Permissions Issue with Artisan"
Trying to make a new artisan command:
`php artisan make:commmand PopulateProjectsTable`
Fails with a permissions error for `storage/logs/laravel.log`.
~~Trying to change the permission with chmod fails with `chmod: changing permissions of ‘storage/logs/laravel.log’: Operation not permitted`
And I can't sudo. @backburn help?~~
EDIT:
Actually I think it's a deeper issue than permissions, and i reali

[2016-04-09 19:56] brandonjank commented on #38
I have set the php5-fpm server to run under each of your users individually. Files should be created using your user/group instead of www-data now.

I chowned all files in your storage directory to you. You should be able to run the command now.

[2016-04-09 20:02] rickbau5 commented on #38
Nice thanks it's working :+1:

[2016-04-09 20:02] #38 closed

[2016-04-09 21:03] brandonjank commented on #27
I markeddown whatever was left, closing.

[2016-04-09 21:03] #27 closed

[2016-04-09 21:10] backburn opened #39 "Write documentation for configuring the server."

[2016-04-09 21:10] brandonjank commented on #39
Work complete: https://github.com/uidaho/squireproject/wiki/Setup-Server

[2016-04-09 21:10] #39 closed

[2016-04-09 21:12] backburn opened #40 "Write documentation for using mysql admin"

[2016-04-09 21:13] brandonjank commented on #40
Can be found at: https://github.com/uidaho/squireproject/wiki/phpMyAdmin

[2016-04-09 21:14] backburn opened #41 "Write documentation for setting up IDE and floobits"
https://github.com/uidaho/squireproject/wiki/Setup-IDE

[2016-04-09 21:14] backburn opened #42 "Write documentation for setting up developer test/dev server."
https://github.com/uidaho/squireproject/wiki/Create-Webspace

[2016-04-09 21:14] brandonjank commented on #42
Work complete!

[2016-04-09 21:14] #42 closed

[2016-04-10 01:38] rickbau5 commented on #41
Wanna add the section about setting up the remote workspace upload/download stuff? Like we did at the meeting on wednesday?

[2016-04-10 07:36] brandonjank commented on #41
Aye

[2016-04-10 08:31] brandonjank commented on #29
All commits and merges are now tested automatically by travis-ci. :hamburger:

Check it out:
[![Build Status](https://travis-ci.org/uidaho/squireproject.svg?branch=master)](https://travis-ci.org/uidaho/squireproject) [![Total Downloads](https://poser.pugx.org/uidaho/squireproject/d/total.svg)](https://packagist.org/packages/uidaho/squireproject) [![Latest Stable Version](https://poser.pugx.org/uid

[2016-04-10 08:31] #29 closed

[2016-04-10 09:05] backburn opened #43 "Create implementation section for hw6 deliverable."
Regarding the implementation, the document should not include all source files, but rather, project organization (directories, summaries of files' contents) and JavaDoc or equivalent reference information.

[2016-04-10 09:07] backburn opened #44 "Create outline for sprint report due 4/11"
In your sprint report, demo use cases that are done and non-usecase progress that has been made.

Make a list of things we accomplished on github and the prototypes on the web.

[2016-04-10 16:27] rickbau5 opened #45 "Slack GitHub Integration"
The Slack integration isn't working for some reason. I think you need to grant access for it to the organization, as per this link https://get.slack.help/hc/en-us/articles/204270098-Adding-a-new-GitHub-organization-to-Slack

Then it can be configured from here: https://uidaho.slack.com/apps/manage/A0F7YS2SX-github

[2016-04-10 17:19] brandonjank commented on #45
Integration has not be requested by slack. I do not have the owner permission on slack to force it.
![2016-04-10 10_17_14-uidaho - oauth applications](https://cloud.githubusercontent.com/assets/784730/14411743/acb1e0e8-ff05-11e5-9966-08c403bdfce3.png)

[2016-04-10 17:56] brec9824 commented on #43
Ok I got an overview completed of our directories. Let me know if you think I should add something. I will probably add a subsection about authentication. Also the team working on settings/profile if you get a prototype implemented then make sure to add a subsection about it. Lastly attaching a PDF of the overview so everyone can take a quick look.
[Individual.pdf](https://github.com/uidaho/squire

[2016-04-10 19:10] rickbau5 commented on #45
K, check again should be there now

[2016-04-10 19:24] brandonjank commented on #45
Access granted. Closing.

[2016-04-10 19:24] #45 closed

[2016-04-10 22:25] brec9824 commented on #44
I created an outline for this weeks sprint report. @bolt1003 and I will be presenting this weeks sprint report (Correct me if I am wrong but I believe Ben said he was going to present with me). Let me know if I should add anything to the list of what to talk about. Especially the settings/profile team I am not sure what progress you guys have made. Adding everyone so everyone takes a look also tak

[2016-04-11 01:27] rickbau5 commented on #45
Still getting this? Reopening but I'll look into this
![screen shot 2016-04-10 at 6 26 19 pm](https://cloud.githubusercontent.com/assets/11299264/14414572/c82c810e-ff49-11e5-9702-0caad54c92ff.png)

[2016-04-11 01:46] brandonjank commented on #45
looks like it wants admin perms on github. I made you an admin on github. try now

[2016-04-11 02:13] brandonjank commented on #34
@uidaho/lambda make sure you do this tonight for your diagrams in c9

[2016-04-11 02:14] brandonjank commented on #33
@uidaho/lambda make sure you do this tonight for your class diagrams in c9

[2016-04-11 02:14] brandonjank commented on #32
@uidaho/lambda make sure you do this tonight for your class diagrams in c9

[2016-04-11 06:30] rickbau5 commented on #45
Ok that should do it. Closed closed :+1:

[2016-04-11 08:55] ghost commented on #34
I have created a Review folder in the diagrams folder of master requirements. This contains diagrams needing reviewed and a subfolder of claim which has all the diagrams without "Created by:". I reviewed most of the diagrams but I need someone to review mine.

[2016-04-11 08:56] ghost commented on #34
A fix folder has been added for diagrams needing corrections. I added comments to the diagrams that need a large amount of corrections.

[2016-04-11 08:58] ghost commented on #34
Format has been updated to:
Created by: Name (ID)
Reviewed by: Name (ID)
Audit DATE by: Name (ID)

This changes has been made to most diagrams.

[2016-04-11 08:59] ghost commented on #32
I have reviewed all the class diagrams and made the appropriate corrections.

[2016-04-11 09:02] ghost commented on #37
Thanks, I will take a look at that.

[2016-04-11 09:03] rickbau5 commented on #34
Nice thanks :+1: i'll get on this before class tomorro

[2016-04-11 09:04] rickbau5 commented on #32
awesome thanks!

[2016-04-11 17:23] brandonjank commented on #37
functionality added in https://github.com/uidaho/squireproject/commit/5a7e4c90dcfca2dd9198a4d43da7313dda171da6

[2016-04-11 17:23] #37 closed

[2016-04-11 17:24] backburn opened #48 "Add ability to upload a photo for project"
@uidaho/lambda
Right now the picture is directly referenced and manually placed in the images/projects folder. When a person edits their project page it should allow them to upload a new image, or provide a url to one.

[2016-04-11 17:31] backburn opened #49 "Make search work on project page"
Ideally should filter the entries on the page in real time and client side. Javascript can be used to toggle css elements as visible or not.

[2016-04-11 19:34] rickbau5 commented on #48
Yup, I avoided tackling this in my initial implementation. I don't mind the link to image idea, but it's always a bit nicer when a site has hosting. However, we don't yet have the file system structure set up for projects, which is ideally where that would go (thereby making it editable).

[2016-04-11 20:07] rickbau5 commented on #43
I guess I don't really get what should be done for this... Should I write up about the project ideas stuff? Or more in detail on like `database` directory or something?

[2016-04-11 20:27] brec9824 commented on #43
I believe it will be a little right up of each sub system we complete explaining which files are used and what they do.

[2016-04-11 20:36] rickbau5 commented on #43
Hmm alright, i'll do a quick write up of the project stuff I've done.

[2016-04-11 20:43] ghost commented on #44
**Sprint Overview**
**_Settings / Profile**_
- View A User's Profile (In-progress mora5651,mars2681,bolt1003)
- Modify Profile Info (In-progress mora5651,mars2681,bolt1003)
- Modify Profile Privacy (In-progress mora5651,mars2681,bolt1003)

[2016-04-11 20:56] brec9824 opened #51 "Resize diagrams in Master Requirements Specification"
Sum of the diagrams in the Master Requirements Specification are pixelated and need to have their widths adjusted before submission tonight.

[2016-04-11 21:20] rickbau5 commented on #48
Added a temporary version until the project file structure is set up completely. See here: https://github.com/uidaho/squireproject/commit/7f87f1a6cd0f8b2850e1fda5b3a051357294e1c6

[2016-04-11 22:13] #44 closed

[2016-04-11 22:28] ghost commented on #51
All the diagrams in the diagrams folder as of 3:30 have been resized.
If you move a file into the diagrams folder please resize the diagram by placing:

scale max 700 width

in the uml.

[2016-04-11 23:27] drop-table-lol opened #53 "Review all class diagrams (HW6)"
"Review all class diagrams, consider all aggregations to see if they should instead be a user-defined association. If they have an association name, get the diamond off them; it is either/or. Association names should not be whole sentences or long phrases; those go in the diagram dictionary."
 - Dr. J, hw6

[2016-04-11 23:28] rickbau5 commented on #53
This has already been completed: #32

[2016-04-11 23:28] #53 closed

[2016-04-11 23:31] drop-table-lol commented on #32
This is set as completed, but many of our class diagrams havn't been updated. They have the same issues Dr. J had with them last sprint. It may be that the class diagrams were updated, but the UML diagrams themselves were not

[2016-04-11 23:32] rickbau5 commented on #32
@drop-table-lol alright, i'll reopen this and assign you

[2016-04-11 23:45] #32 closed

[2016-04-11 23:46] #33 closed

[2016-04-11 23:48] rickbau5 commented on #31
@uidaho/lambda
Ok so it looks like we're adopting this! Please start using it, especially on a day like today when we're all working on stuff :) Just have it open so we can message each other! I'll be handing out free :peach:s to everyone who is active on [our Slack](http://uidaho.slack.com)!

[2016-04-12 00:08] #48 closed

[2016-04-12 00:41] ghost commented on #51
I looked over all the diagrams and all have a max width of 700.

[2016-04-12 00:41] #51 closed

[2016-04-12 02:02] rickbau5 opened #55 "Test All the Things!"
With the first major pull request, it became obvious we need these. I'll be working on this tonight.

Moved test outlines to [wiki](https://github.com/uidaho/squireproject/wiki/Unit-Tests)

[2016-04-12 02:24] brec9824 opened #56 "Sort by category project finder"
Get the sort by category feature working on the project finder page. For example being able to sort by abc order or the creator.

[2016-04-12 02:41] brandonjank commented on #55
![unit-test-all-the-things](https://cloud.githubusercontent.com/assets/784730/14448403/5446e3c2-001d-11e6-85df-d20fec1a5f31.jpg)

Fixed that for you.

[2016-04-12 02:44] rickbau5 commented on #55
hahahaha perfect. I should print this out and put it on my wall

[2016-04-12 03:44] brec9824 commented on #43
I believe this section is done so I am closing.

[2016-04-12 03:44] #43 closed

[2016-04-12 03:44] rickbau5 commented on #43
:+1:

[2016-04-12 06:23] rickbau5 opened #57 "Delete Project Idea"
Add a way for the owner of the project to delete the project.

[2016-04-12 07:23] rickbau5 commented on #55
first couple unit tests are done! see them [here](https://github.com/uidaho/squireproject/compare/master...tests).

Done:
- Create Project
- Login
- Register
- User view (logged in vs. logged out)

[2016-04-12 07:24] rickbau5 opened #58 "Add Validation to Create Project Form"
Currently the Create Project form (at `/create`) doesn't do any input validation. It should validate that every field is populated (including thumbnail), and some specific length requirements for title and description.

[2016-04-12 07:26] rickbau5 commented on #34
closing this

[2016-04-12 07:26] #34 closed

[2016-04-12 07:27] rickbau5 commented on #21
resolved with #47

[2016-04-12 07:27] #21 closed

[2016-04-12 07:28] rickbau5 commented on #20
resolved with #47

[2016-04-12 07:28] #20 closed

[2016-04-12 07:28] rickbau5 commented on #19
Resolved with the between @brec9824's work and #47

[2016-04-12 07:29] #19 closed

[2016-04-12 07:33] rickbau5 opened #59 "Integrate Editor"
Get a dummy page set up for the ace editor within what we have now

[2016-04-12 07:33] rickbau5 commented on #59
@backburn interested?

[2016-04-12 07:34] rickbau5 opened #60 "Integrate "Chat Client""
~~Integrate the dummy chat client into the sQuire ecosystem as it is now. Just want to see it as a page.~~ The real thing now!

[2016-04-12 07:35] rickbau5 commented on #60
Referring to [this guy](https://www.squireproject.com/chateditor.html)

[2016-04-12 18:32] brandonjank commented on #59
ill take it. will be the "editor" controller

[2016-04-12 18:33] brandonjank commented on #60
Ill take it

[2016-04-12 18:56] rickbau5 commented on #59
:+1:

[2016-04-12 18:56] rickbau5 commented on #60
:+1:

[2016-04-12 22:45] rickbau5 commented on #55
added checklist of tests to write to original comment. Feel free to add, or do tests that are not implemented yet.

[2016-04-13 01:23] rickbau5 opened #62 "Add a 404 Page"
Add a "page not found" page. Not #18, which is for errors like database stuff or whatever, but for navigating to a page that [just doesn't exist...](https://boss2849.squireproject.com/youhaveenteredthetwilightzone)or does it?

[2016-04-13 02:06] brandonjank commented on #62
the NotFoundHttpException (404) has been handled. with pull #63

[2016-04-13 02:06] #62 closed

[2016-04-13 02:14] #57 closed

[2016-04-13 03:35] brec9824 commented on #9
Just found out since the authentication is done be middleware it will need to be coded from scratch for the most part to get username or email for login. Kind of dumb.

[2016-04-13 03:44] rickbau5 commented on #9
That won't be too crazy difficult right? You could have the user enter their email, and then in the controller that receives that request just do

[code]

to retrieve the user then just fire off an email to them, or return an error if no user with that email exists!

[2016-04-13 04:05] brec9824 commented on #9
From what I looked at currently the authentication middleware functions are in a file composer pulls in so it cant be edited. I thought about editing some of the data then redirecting back to the middleware but I get errors. So I think to get this and login with a email or username will require doing the authentication from scratch. Which wont be to bad but will be annoying.

[2016-04-13 04:07] rickbau5 commented on #9
oh oh, i see I misunderstood your previous comment, I was thinking of sending the username in an email to user for forgotten username

[2016-04-13 04:09] rickbau5 commented on #9
@brec9824 if it's too much work, feel free to mark it as won't do and just ignore it. For fringe functionality like this, I think it's ok to do

[2016-04-13 04:28] brec9824 commented on #9
@rickbau5 I think if we need any changes to how the current built in authentication works will require doing it from scratch. Laravel's built in authentication seems to be limited and barely editable. If the team is fine with how it is now we might as well just leave it and get other systems working.

[2016-04-13 04:29] rickbau5 commented on #9
i'm good with login only being by username if adding email is going to be _too_ tough :+1:

[2016-04-13 07:20] rickbau5 opened #64 "Project title and description overflow"
On project finder, the description and title will overflow:

see image below

[2016-04-13 16:45] rickbau5 opened #65 "Last Active Field to User"
When the user logs on, it should update the user's entry with that in the table. Could use the [event framework](https://laravel.com/docs/5.1/events#framework-events) to do so. This would require making a [migration](https://laravel.com/docs/5.1/migrations#generating-migrations) for the user table to add a new column.

[2016-04-13 17:10] rickbau5 opened #66 "Favicon!"
It's time! We need a [favicon](https://en.wikipedia.org/wiki/Favicon)!

[2016-04-13 17:16] brec9824 opened #67 "Login with username or email"
Allow for login with email are username.

[2016-04-13 17:22] rickbau5 commented on #67
[maybe?](https://laravel.com/docs/5.1/authentication#authenticating-users)

[2016-04-13 17:32] brec9824 commented on #67
I figured out a fix and will submit it later. Its a little hacky but works.

[2016-04-13 17:42] brec9824 commented on #67
Wow, just saw your link. I should have checked the documentation. :anguished:

[2016-04-13 17:45] brandonjank commented on #66
@uidaho/lambda who feels like an artist?

[2016-04-13 17:58] rickbau5 commented on #66
![image](https://cloud.githubusercontent.com/assets/11299264/14503837/a668f4ca-0166-11e6-8f10-903c2901f120.png)
:penguin:
This is why we need someone artistic to do it

[2016-04-13 22:38] brec9824 opened #69 "Question section on project page"
A section that allows users to leave a message on the project page. So users can get more info about a project.

[2016-04-14 00:00] eric-marsh commented on #66
@rickbau5 In pull #70, this issue has been adressed. Please review

[2016-04-14 00:05] brandonjank commented on #66
Issue successfully resolved with pull #70, closing.

[2016-04-14 00:05] #66 closed

[2016-04-14 18:53] brandonjank commented on #59
got a basic and ugly version working

must be logged in:

https://jank6275.squireproject.com/editor/1

[2016-04-14 19:23] backburn opened #72 "Add link from project page to editor/files"
The project page should like to the project file listing. The listing will be found at /editor/projectname, and specific file can be edited using /editor/projectname/filename

Keep in mind, we must use the project's name (no spaces allowed) not the id # in routes. You may need to validate projectname fields when creating projects.

@brec9824 @rickbau5

[2016-04-14 19:46] backburn opened #73 "Project, file and username naming convention"
I recommend we use the github way. Regex: [A-Za-z0-9_.-]+

We can error on any other character or replace all other characters, like spaces, with '-'.

@uidaho/lambda

[2016-04-14 19:46] brec9824 commented on #67
Issue fixed resolved with pull #68, closing.

[2016-04-14 19:46] #67 closed

[2016-04-14 19:48] brandonjank commented on #73
Example validation for creating a file:

[code]

[2016-04-14 19:48] rickbau5 commented on #67
Nice :+1: also just fyi if you write fixes/resolves/completes #issue-number in a commit / pull request it will auto close that issue when it gets merged to master :)

[2016-04-14 19:50] rickbau5 commented on #73
Yeah I think that sounds good. I tend to use `[]` and `()` in file names, not for coding purposes but in other cases, this wouldn't accept those. and replacing them with `-` seems wonky.

[2016-04-14 19:52] rickbau5 commented on #72
will do, still working on changes to the `project` route, but will use titles instead of id's

[2016-04-14 19:55] brandonjank commented on #73
if you put a { or ( in a github repo name it would change them to -'s

[2016-04-14 20:02] brandonjank commented on #73
prolly best to just error and have the user fix it so we don't do something unexpected.

[2016-04-14 20:04] brandonjank commented on #58
also, see issue #73

[2016-04-14 20:07] brandonjank commented on #18
all not found error types are routed to the generic 404 error page now.

[2016-04-14 20:07] #18 closed

[2016-04-14 20:42] rickbau5 commented on #59
I get this on a for some of the files, and when i try to create a new one :(
![screen shot 2016-04-14 at 1 41 51 pm](https://cloud.githubusercontent.com/assets/11299264/14542973/b1534e4a-0246-11e6-9243-8ffbd14c25b5.png)

[2016-04-14 20:59] brandonjank commented on #59
What URL did you use for the create page?
On Apr 14, 2016 1:42 PM, "Rick Boss" notifications@github.com wrote:

[2016-04-14 21:03] rickbau5 commented on #73
Projects have been [updated](https://github.com/uidaho/squireproject/commit/ff24383e4cbc9e4592c0028a04e1aa564e0681fd#diff-33d60f9cc69d473cb04584baf77d7c4cR27). Note that for projects I **disallow** dashes, as it would conflict with trying convert dashes into spaces and fail look ups.

[2016-04-14 21:05] rickbau5 commented on #59
the create button, so this link: https://jank6275.squireproject.com/editor/create/1

[2016-04-14 21:16] brandonjank commented on #59
try now, i had to replace . with - in filenames for firebase to work

[2016-04-14 21:16] rickbau5 commented on #59
:+1: working now

[2016-04-14 21:21] brandonjank commented on #59
plenty to do before i do a pull request, but if you see any more edge cases let me know

[2016-04-14 22:59] brec9824 commented on #73
Just wanted to add naming convention should also make sure the user has one letter or number. So something like this regex:/(?=.*[a-zA-Z0-9])([A-Za-z0-9_ .]+)/ so we dont get allot of names like this: _______

[2016-04-14 23:05] rickbau5 commented on #55
Moved the checklist to the wiki: https://github.com/uidaho/squireproject/wiki/Unit-Tests

[2016-04-15 04:13] #58 closed

[2016-04-16 02:58] rickbau5 opened #76 "Formatting"
So now my stuff looks like this...?
![image](https://cloud.githubusercontent.com/assets/11299264/14578714/6062f2ca-0344-11e6-85aa-7a1041e5d204.png)

[2016-04-16 03:22] brec9824 commented on #76
Looks like @backburn got bootstrap css setup in master and the pages just need formatting. @backburn am I correct.

[2016-04-16 03:57] brandonjank commented on #76
Correct. I'll have things looking better tonight

[2016-04-16 04:00] brandonjank commented on #76
Check out layoutit.com and bootswatch.com

[2016-04-16 04:52] brec9824 commented on #76
@backburn do you want me to make issues for each page? So anyone can jump on a page and set it up.

[2016-04-16 05:12] backburn opened #77 "master-old"
@rickbau5  you moved master to master-old, effectively reverting master. You need to rebase and merge conflicts with your branch for a clean merge.

[2016-04-16 05:14] brandonjank commented on #77
@rickbau5  you're still committing to master making things harder to fix... can you call me on skype: b.jank

[2016-04-16 05:16] brandonjank commented on #76
sure, though ill have most of them done tonight. However, @rickbau5  just forked master and dropped a bunch of commits, gonna need to hand merge everything now :(

[2016-04-16 05:19] brec9824 commented on #76
Ok I will just wait on it and if I notice any are not done tomorrow I will make issues on them then.

[2016-04-16 05:21] rickbau5 commented on #77
resolved :)

[2016-04-16 05:21] #77 closed

[2016-04-16 06:26] brandonjank commented on #77
:D

[2016-04-16 06:27] brandonjank commented on #76
looks like we got everything fixed, gonna start working on the other views
if you want to help tonight call me on skype, b.jank

[2016-04-16 06:29] brandonjank commented on #76
Use this as your guide: https://bootswatch.com/yeti/

[2016-04-17 17:31] backburn opened #79 "Broken Database Seed"
I enabled seeding on travis-ci builds and one of the seeds is broken:

[code]

[2016-04-17 17:36] brandonjank commented on #79
keep in mind that travis-ci makes a fresh install every time, you will not be able to reproduce this bug without an empty and then freshly migrated database

[2016-04-17 18:19] brec9824 commented on #79
Yeah I just noticed this. I think have it fixed but I am doing some more testing.

[2016-04-17 18:22] brandonjank commented on #79
in ModelFactory.php:

[code]

this doesnt work, the factory should create users it needs. DB::table('users')->count() returns 0 and you cant generate a number between 1 and 0  other than 1. and there are no users in the table thus the index error.

[2016-04-17 18:24] brandonjank commented on #79
tldr; you'll need to empty your users table to test if the seed is working

[2016-04-17 18:31] brandonjank commented on #79
rewrote it:

[code]

the test should call the user factory and then the project factory

factory created items are purged between tests

[2016-04-17 18:39] brec9824 commented on #79
Yeah thats what I thought

[2016-04-17 18:45] rickbau5 opened #80 "Don't Work on Master?"
@backburn can you work on your own branch please. It's hard for me to find a place to start with all your changes half baked. Thanks!

[2016-04-17 18:46] brandonjank commented on #79
also,  $faker providers should be using unique()  for titles, usernames, and e-mails. We dont want duplicate keys causing false positives.

e.g.
`'title' => $faker->catchPhrase,`

should be:
`'title' => $faker->unique()->catchPhrase,`

[2016-04-17 18:48] brec9824 commented on #79
Yeah I made some changes to that. I also realized usernames werent being created with a correct regex

[2016-04-17 19:05] brec9824 opened #81 "Routes with spaces in them"
I have noticed routes that contain spaces end up getting switched with %20 and can cause future routes to fail. Only fix I found was checking every time if a route contains a space and replacing it. I noticed @rickbau5 was doing this for project titles but curious if anyone's got a better idea then having to constantly check for spaces.

[2016-04-17 19:06] rickbau5 commented on #81
yeah i wasn't sure how to do this, but i just threw that fix in cause it worked. Should see if there's a better way for sure

[2016-04-17 19:16] brandonjank commented on #81
already fixed that in the current master

[2016-04-17 19:18] brandonjank commented on #81
FYI true routes should never have a space or -.  Laravel technically does not support - in a pure route. But we are injecting a - in variables to a route more-or-less

See:
https://laravel.com/docs/5.2/routing#route-parameters

[2016-04-17 19:29] brec9824 opened #82 "Master projects go straight to file manager"
The master branch when you click on a project it goes straight to the projects file manager. Skipping the project's view page.

[2016-04-17 19:32] brec9824 opened #83 "Master deleting a project causes 404"
In master if click delete you get a 404 error and the project isnt deleted.

[2016-04-17 19:37] brec9824 opened #84 "Project titles are spilling over"
Titles for projects are spilling out of their boxes if they are long. This is on the project finder page and the file manager page.
![error](https://cloud.githubusercontent.com/assets/16866862/14589516/0ade7e40-0499-11e6-9eb6-2014b5fed9fc.PNG)

[2016-04-17 19:43] rickbau5 commented on #84
dat pic though

[2016-04-17 19:43] rickbau5 commented on #83
fixed in a branch i'm working on

[2016-04-17 19:44] brec9824 commented on #84
Lol, biology project pic. To lazy to go get other pictures.

[2016-04-17 19:44] rickbau5 commented on #82
works on my branch, @backburn may have recently broke it in his commits.

[2016-04-17 19:45] rickbau5 commented on #82
proof: https://boss2849.squireproject.com/project

[2016-04-17 19:49] brec9824 commented on #82
Yeah its working in my older branch too. Trying to find whats going on in my issue79 branch that is up to date.

[2016-04-17 20:23] brec9824 opened #85 "Master: error clicking on project when not signed in"
If you click on a project when not signed in you get redirected to an error page. Here is what it looks like:
![error1](https://cloud.githubusercontent.com/assets/16866862/14589792/9ab3290c-049f-11e6-902f-36b73b348d61.PNG)

[2016-04-17 20:40] brec9824 commented on #82
Figured it out the project page was removed. So I am adding it back so I have a place for comments to go.

[2016-04-17 20:53] brec9824 commented on #82
Uh, now issue #81 is causing problems.

[2016-04-18 03:19] #79 closed

[2016-04-18 14:06] drop-table-lol opened #89 "Add Settings Controller"

[2016-04-18 16:56] brandonjank commented on #80
Had to rewrite a lot. I'm done with refactoring and implementation for the sprint and just working on unit tests now.

[2016-04-18 17:00] brandonjank commented on #41
Re-writing for using c9 as editor.

[2016-04-18 17:02] brandonjank commented on #82
https://boss2849.squireproject.com/project looks like the old broken layout to me, are you sure you have the right branch? There is a hybrid template for including the project files anywhere. The project view was just amended to show the files. There is still a editor pages with just files and no project info.

[2016-04-18 18:21] eric-marsh commented on #35
Im working on this right now

[2016-04-18 20:33] rickbau5 commented on #82
Yeah it wasn't up to date, it was an old state of master. Aka the stuff you were actively working on so i think that's where the problems were coming from

[2016-04-18 20:46] rickbau5 commented on #80
Ok, it's just hard for the rest of us to work on it at the same time. Its just easier if everything happens in branches and gets merged.

[2016-04-18 21:30] brandonjank commented on #80
definitely a part of the great debate ;)

[2016-04-18 21:44] brandonjank commented on #85
@uidaho/lambda

It needs to handle authentication, it should be done at a controller level if possible.

If you want to require login for every page in the controller, insert this method:

[code]

If you want a method to require authentication just for itself, use this at the top:

[code]

If you use the auth middleware, the user will automatically be returned to the original page after authentica

[2016-04-18 21:52] brandonjank commented on #84
names should be limited at creation ;)
otherwise, application.css needs to be modified to wrap that div.

[2016-04-18 21:54] rickbau5 commented on #80
Actually when it comes to collaboration using Git and GitHub, there's really no debate haha. It's the way it's done!

[2016-04-18 21:54] brandonjank commented on #83
path is wrong, should be /project/delete/projectname  according to routes.php needs to be updated.

[2016-04-18 21:56] brandonjank commented on #82
that was from before my changes ;) after the js/css change to bootstrap

[2016-04-18 22:01] rickbau5 commented on #82
Ah ok gotcha

[2016-04-18 22:02] rickbau5 commented on #84
They currently are limited, but it's pretty grandiose. What's a good length to limit it to?

[2016-04-18 22:04] brandonjank commented on #83
fixed with branch issue83

[2016-04-19 04:06] brec9824 commented on #85
Fixed in pull #91

[2016-04-19 04:07] #82 closed

[2016-04-19 04:14] brec9824 commented on #83
Fixed with merge #90

[2016-04-19 04:14] #83 closed

[2016-04-20 04:34] brec9824 opened #93 "Tests for project comments"
Create Travis tests for project comments.

[2016-04-20 04:44] rickbau5 commented on #72
This was resolved with #92 and #91

[2016-04-20 04:44] #72 closed

[2016-04-20 04:44] rickbau5 commented on #76
resolved

[2016-04-20 04:44] #76 closed

[2016-04-20 04:45] rickbau5 commented on #84
This is a duplicate with #64

[2016-04-20 04:46] rickbau5 commented on #84
I'm going to close this one, as the other one includes description and is still relevant

[2016-04-20 04:46] #84 closed

[2016-04-20 04:47] rickbau5 commented on #64
Still an issue with the new css theme
![image](https://cloud.githubusercontent.com/assets/11299264/14663695/3add4604-0678-11e6-90a0-6ba9fbb948f2.png)

[2016-04-20 04:53] rickbau5 commented on #89
Note that we need the basic of this for the sprint ending on 4/25, see the [upcoming milestone](https://github.com/uidaho/squireproject/milestones/Foundation%20&%20Tests)

[2016-04-20 04:54] rickbau5 commented on #89
@drop-table-lol

[2016-04-20 04:54] #80 closed

[2016-04-20 04:55] rickbau5 commented on #69
Resolved with #91?

[2016-04-20 04:55] #69 closed

[2016-04-20 04:56] rickbau5 commented on #60
Adding this to the [upcoming milestone](https://github.com/uidaho/squireproject/milestones/Foundation%20&%20Tests), as it is one of the base features

[2016-04-20 04:57] rickbau5 commented on #59
@backburn can we close this?

[2016-04-20 04:58] rickbau5 commented on #36
Adding this to the [upcoming milestone](https://github.com/uidaho/squireproject/milestones/Foundation%20&%20Tests) ending on 4/25 (sprint homework is due then). Have the basics set up by then

[2016-04-20 04:58] rickbau5 commented on #35
Adding this to the [upcoming milestone](https://github.com/uidaho/squireproject/milestones/Foundation%20&%20Tests) for 4/25.

[2016-04-20 04:59] rickbau5 commented on #31
Well it aint gunna get any better at this point, closing.

[2016-04-20 04:59] #31 closed

[2016-04-20 05:03] rickbau5 commented on #16
This looks like it is complete, closing

[2016-04-20 05:03] #16 closed

[2016-04-20 05:03] #14 closed

[2016-04-20 05:04] rickbau5 commented on #23
Commenting complete with #91. @brec9824 should we trim the other requirments?

[2016-04-20 05:05] rickbau5 opened #94 "Test Editor"
The editor stuff needs unit testing.

[2016-04-20 05:09] drop-table-lol commented on #89
Yeah, Eric and I are doing a session tomorrow after class, and probably again on friday

[2016-04-20 05:23] brec9824 commented on #23
@rickbau5 I dont think the other two would to hard to do. I think we should keep them for now.

[2016-04-20 07:57] rickbau5 commented on #89
Alright, well we need something merged into master by Sunday night just giving you guys a heads up.

[2016-04-20 16:31] brandonjank commented on #94
in progress, i'm not committing until after the weekend.

[2016-04-20 16:32] brandonjank commented on #60
almost complete, not committing until after the weekend

[2016-04-20 19:35] #85 closed

[2016-04-20 19:40] rickbau5 opened #95 "Import/Export/Rename in Editor Doesn't Work"
Get 404's for Import/Export (not implemented?) and an error for Rename - `Method App\Http\Controllers\EditorController::renameView() does not exist`.

[2016-04-20 19:42] rickbau5 opened #96 "Open File in New Tab"
Add a way to have tabbed views for files, so more than one can be used at a time. Implies presence of file browser to editor as well?

[2016-04-20 19:44] rickbau5 opened #97 "View Authors of File"
Add a way to see the authors of a file. Currently only shows createors.

[2016-04-20 19:45] rickbau5 opened #98 "Technology Stack Diagram"
Create official libraries/technology stack diagram

[2016-04-20 19:48] rickbau5 opened #99 "User Permissions for Projects"
This is open to discussion, as I forget the details. Are we doing user gating for a project, as in the author must approve collaborators?

If this is the case, other issues to follow will be
- Inviting User to Project
- Accepting Invite to Project
- Declining Invite to Project
- Request to join a project

@uidaho/lambda thoughts?

[2016-04-20 19:50] rickbau5 opened #100 "Quick Jump to Project"
Add a way for users to quickly jump to another project than searching through the project finder/using that search bar.

[2016-04-20 19:52] rickbau5 opened #101 "Compile File"
Implement a way to compile a file. Limited only to Java. Compilation is going to be done in Docker containers.

Logical extension of this issue
- ~~Execute a compilation~~ (Decided against execution 4/20)
- Report errors (highlighting in the editor, is this possible?)
- Compile to JAR

[2016-04-20 19:56] rickbau5 commented on #89
These are the use cases described in C9 for settings, this can be expanded to their own issues once settings is implemented
- Modify chat font Settings
- Modify chat color Settings
- View Line Numbers
- View References
- View Dates
- View Authors
- View A User’s Profile
- Modify Profile Info
- Modify Profile Privacy

@drop-table-lol @drspaceman0

[2016-04-20 19:58] rickbau5 commented on #49
@drop-table-lol status? You still on this?

[2016-04-20 20:06] rickbau5 opened #102 "Login and Register Forms Out of Date"
These forms were never updated to use the new bootswatch theme.

[2016-04-20 20:18] brec9824 opened #103 "Project list messed up view"
The project list page displays projects in nonuniform size. Which can cause weird formatting like projects skipping lines. You can replicate this by zooming in or out in your browser.
![error1](https://cloud.githubusercontent.com/assets/16866862/14689640/13a2167a-06fd-11e6-9503-f652d28e551a.PNG)

[2016-04-20 22:23] rickbau5 opened #104 "Syntax Checking"
Find and integrate a plugin to do syntax checking. Loosely follows this method:

1. Get contents of file from Firebase
2. Place in file on server's path
3. Invoke command line syntax checker on this file
4. Retrieve results, return to user
5. Delete local file

[2016-04-20 22:28] #59 closed

[2016-04-20 22:34] rickbau5 opened #105 "Website How To"
A wiki/page/section/whatever explaining how to use various functionality on the website.

[2016-04-21 00:01] rickbau5 opened #106 "Can't Reset Password"
Get this error trying to reset password:
![image](https://cloud.githubusercontent.com/assets/11299264/14694025/86b1a7f4-0719-11e6-9170-8e611ed1abe9.png)

[2016-04-21 00:07] rickbau5 commented on #106
@brec9824 you set this up right? Any idea what this means?

[2016-04-21 00:14] brec9824 commented on #106
@rickbau5 I just tested it and it worked on mine. Do you have your .env file set like this:
![capture](https://cloud.githubusercontent.com/assets/16866862/14694233/43d5c42c-071b-11e6-80fb-388bb924e9d6.PNG)

[2016-04-21 00:15] rickbau5 commented on #106
Thanks that was the issue! I remember that changing now, totally forgot to update mine though.

[2016-04-21 00:15] #106 closed

[2016-04-21 01:09] rickbau5 commented on #55
@uidaho/lambda keep this in mind, i'm going to leave it open and `ongoing`.

[2016-04-21 04:33] rickbau5 opened #108 "Bread Crumb"
I like the breadcrumb in most situations, but there's some cases (such as below) that don't really work. Can we perhaps make a new layout that's a sublayout of `main_layout` with the bread crumb? and then pages where it's not necessary or doesn't fit, we can just use the regular main layout without it? Or is there a better way to do that

![image](https://cloud.githubusercontent.com/assets/1129926

[2016-04-21 04:34] #102 closed

[2016-04-21 04:39] rickbau5 opened #109 "Broken Button on Create File"
The cancel button on the create file page does nothing. Return to file list view or something?

[2016-04-21 04:42] rickbau5 opened #110 "Odd Link In Breadcumb"
In the breadcrumb, clicking on `Editor` takes you back to the project finder.

[2016-04-21 04:46] rickbau5 commented on #108
Or another thought is include it explicitly if you'd like it on that page, like the for files list

[2016-04-21 05:52] brec9824 commented on #108
In my pull request I made the breadcrumb optional. So we dont have to have it on every page.

[2016-04-21 17:00] rickbau5 opened #113 "Delete Notification Shows in Odd Place"
After you delete a project, the notification shows in the top left, instead of being a banner.

![screen shot 2016-04-21 at 9 58 51 am](https://cloud.githubusercontent.com/assets/11299264/14717755/c387a46a-07a7-11e6-8668-d28e2f986733.png)

[2016-04-21 17:10] rickbau5 opened #114 "Deleting a Project Leaves Orphaned Comments"
If you delete a project, the comments for that project are not deleted. This could be handled manually in code. But the more robust way would be with Foreign Keys and making our tables cascading. [Laravel doc on it](https://laravel.com/docs/4.2/schema#foreign-keys).

This can be expanded to other tables as well. For instance, the upcoming table in #111 shows if a user is following a project. If th

[2016-04-21 17:24] rickbau5 commented on #103
I noticed this as well. Probably all should be forced to fill to an exact size.

[2016-04-21 18:19] #23 closed

[2016-04-21 18:19] #108 closed

[2016-04-21 18:49] rickbau5 opened #115 "About Page"
[This page](https://boss2849.squireproject.com/about) contains only "some text". That's not very convincing!

[2016-04-21 19:04] brec9824 commented on #115
Lol. I must have messed that up with my last pull. I will have this fixed with my next pull.

[2016-04-21 19:05] rickbau5 commented on #115
👍  no worries

[2016-04-21 19:07] rickbau5 opened #116 "Sorting on Projects"
Implement sorting functionality for project page

[2016-04-21 20:06] brec9824 commented on #116
@rickbau5 you might want to take a look at https://laravel.com/docs/5.2/pagination

[2016-04-21 21:28] rickbau5 commented on #116
@brec9824 what's the relevance of pagination for sorting?

[2016-04-21 22:18] brec9824 commented on #116
Whoops copied the wrong link. I will see if I kind find the page I meant to link.

[2016-04-21 23:05] #103 closed

[2016-04-21 23:14] #115 closed

[2016-04-21 23:14] #64 closed

[2016-04-22 02:11] rickbau5 opened #118 "Project Pagination"
Limit projects per page, extra projects overflowing to next page.

[2016-04-22 02:14] rickbau5 commented on #116
@brec9824
Damn. You. Just sent me down a 3 hour rabbit hole with pagination. It was a pain to get it to work WITH sorting. So when you went to page 2 it didn't sort page 2's content only, but show you page two of the entire sorted contents. The default pagination provided by `Project::paginate(16)` doesn't support sorting. [Had to do some trickery](https://github.com/uidaho/squireproject/commit/38

[2016-04-22 04:16] brec9824 commented on #99
This is how I thought it was going to work.

[2016-04-22 06:50] rickbau5 commented on #114
Also a simpler way to do this would be to customize the delete method for the Project model further. I already did to delete images, could extend that to delete comments as well.

[2016-04-22 22:33] brec9824 opened #121 "Project titles cutoff"
The bottom of project titles are being cutoff.
![capture](https://cloud.githubusercontent.com/assets/16866862/14756606/8feae948-089f-11e6-95db-958ba58a5242.PNG)

[2016-04-23 05:59] brec9824 opened #123 "Tests for following a project"
Create Travis tests for following a project.

[2016-04-23 08:22] #109 closed

[2016-04-23 08:22] #113 closed

[2016-04-23 08:22] #116 closed

[2016-04-23 09:11] #118 closed

[2016-04-23 15:48] #93 closed

[2016-04-23 15:48] #121 closed

[2016-04-23 15:48] #123 closed

[2016-04-23 15:51] rickbau5 commented on #56
resolved with #120

[2016-04-23 15:51] #56 closed

[2016-04-23 15:57] rickbau5 commented on #49
@uidaho/lambda i'm assuming @drop-table-lol isn't working on this, he's doing settings stuff with eric. unassigning him.

Also re the original post, I don't think that's going to work with pagination unfortunately. In pagination only the entries for the current page are sent to the client so we wouldn't be able to filter all elements in real time. We probably could tweak the paginator to have all

[2016-04-23 20:03] brec9824 commented on #99
Request to join done

[2016-04-23 20:06] rickbau5 commented on #99
The user should be able to go to a section where they can view all their requests and projects they are part of. Probably include that with profiles (#24)

[2016-04-23 20:07] brec9824 opened #126 "Cant get to project files list"
I know before we could get to this page but now if you create the first file for a project the redirect gets a 404 error.

[2016-04-23 20:07] rickbau5 commented on #126
does the project title have a space in it? this is still handled differently in the editor than in the project provider stuff

[2016-04-23 20:09] brec9824 commented on #99
Yeah definitely. Good thing it only takes one line of code to see all of them.

[2016-04-23 20:12] brec9824 opened #127 "Project list needs to display user counts for projects"
Projects on the project list page currently displays a static count of users as n+1. Needs to be changed to reflect actual member count.

[2016-04-23 20:18] brec9824 commented on #126
No it doesnt have any spaces. It looks like it should be working squireproject.com/editor/edit/This-is-a-title/ThisFile.txt but I get a 404 page.

[2016-04-23 20:21] rickbau5 commented on #126
sorry what I meant, is does the project title have spaces in it. Trying replacing `This-is-a-title` with `This%20is%20a%20title`in the url

[2016-04-23 20:22] rickbau5 commented on #126
What's happening is the editor controller or whatever is looking the project up by `This-is-a-title` so it 404's, its not converting the dashes to spaces before querying the database

[2016-04-23 20:31] brec9824 commented on #126
Ok, I am going to try and fix this because I want to list the join requests on the side of the files list page.

[2016-04-24 00:12] brec9824 commented on #126
Fixed this in my current branch

[2016-04-24 01:25] brandonjank commented on #126
It was converting them before. It looks like someone reverted it
On Apr 23, 2016 8:12 PM, "Robert" notifications@github.com wrote:

[2016-04-24 01:26] brandonjank commented on #126
Additionally, project names should not have spaces to begin with, and if so
converted to dashes at creation. A la github et al
On Apr 23, 2016 9:25 PM, "Brandon Jank" jankster@gmail.com wrote:

[2016-04-24 02:39] rickbau5 commented on #126
Idk I don't think projects titles shouldn't be allowed to have spaces in them. It seems sort of like an arbitrary limitation to me

[2016-04-24 02:50] brandonjank commented on #126
It's limited that way on every site, similar to what were doing, that I
know of.
On Apr 23, 2016 10:39 PM, "Rick Boss" notifications@github.com wrote:

[2016-04-24 02:53] rickbau5 commented on #126
Kickstarter doesn't

[2016-04-26 02:04] #40 closed

[2016-04-26 02:07] brandonjank commented on #126
Kickstarter uses hyphen replacement. HTML entities (%20) should never be in the URL.

[2016-04-26 03:11] backburn opened #130 "Need list of things done for sprint 7 group turn-in"
THIS IS URGENT. Please put a list of tasks you have completed here or in c9. Otherwise ill have to make stuff up based on whats in git.

Ill place mine below as an example.

@uidaho/lambda @drspaceman0 @drop-table-lol  @mora5651 @rickbau5 @bolt1003 @brec9824

[2016-04-26 03:15] brandonjank commented on #130
- The project was migrated to use bootstrap CSS, creating a clean and unified look for the project.
- Modified site to be a fully responsive layout. Users can use any modern browser on any device, including apple and android devices.
- Created a new view for the project list.
- Created a new view for project file listing that can be included as a widget on any page.
- Created a custom file, projec

[2016-04-26 03:16] drop-table-lol commented on #130
Created Settings Controller
Created Settings Class
Created Settings Page
Created Settings Table
Eric and John (mars2681 and snev7821)

[2016-04-26 03:20] rickbau5 commented on #130
- Implemented full fledged project creation, as well as deletion
- Created unit testing for Login, Registration, General permissions, Project creation & viewing
- Implemented pagination for project list view
- Implemented sorting functionality for project list view, ascending/descending by author, title, and creation/modified dates.
- Updated create project, login, register, and reset forms to all

[2016-04-26 03:25] brec9824 commented on #130
Added Comment section:
- User must be signed in to leave comment
- Error messages dealing with comments
- Edit past comments
- Delete past comments
- Success message

GitHub link: https://github.com/uidaho/squireproject/pull/91

Added the ability to login with username or email
GitHub link: https://github.com/uidaho/squireproject/pull/68

Added follow project functionality
- Follow a project
- Unf

[2016-04-26 03:47] brandonjank commented on #130
everything above this post has been added. Need screenshot from your best work for the project,  and authentication controllers.

[2016-04-26 04:31] brandonjank commented on #130
submitted, closing.

[2016-04-26 04:31] #130 closed

[2016-04-26 22:14] rickbau5 opened #131 "Files must have Unique Names"
So currently files must have unique names, _across the entire website_. This restriction should be completely lifted.

[2016-04-26 22:21] brec9824 opened #132 "File editor editable usernames"
Usernames are currently editable in the file editor. This should be changed so users cant do this.

[2016-04-26 22:25] rickbau5 opened #133 "Delete File"
Doesn't seem to be working on master branch?

[2016-04-26 22:48] brandonjank commented on #131
pull request created

[2016-04-26 22:51] brandonjank commented on #132
Not a bug, this will be an editable status field when the chat is integrated.

[2016-04-26 22:55] brandonjank commented on #133
It was working when committed and demonstrated in class Stopped working at 91d11cf50373a56222c984b288ae0d8c8d737f4f

[2016-04-26 22:57] brec9824 commented on #132
If thats what it will be used for shouldnt it also display the users name somewhere. So others now who it is

[2016-04-26 23:03] rickbau5 commented on #133
I have the merge PR right before that checked out, still getting the same error. I found this bug because I was getting that error with Firebase as well when trying to access a file like you do in `EditorController@delete`, namely here:

[code]

when I found that wasn't working for me, I tested the delete and it was also not working. The two env variables are null.
![image](https://cloud.githubuse

[2016-04-26 23:03] brandonjank commented on #131
fixed, closing

[2016-04-26 23:03] #131 closed

[2016-04-26 23:07] rickbau5 opened #135 "Authors Automatically Follow their Project"
Just noticed, if you author a project you have to click follow to follow it. Not sure what the functionality is intended to be, but it might be good to have author's automatically follow their own project.

[2016-04-26 23:12] brandonjank commented on #133
was the file actually created in firebase? I just tested creating a file and removing it with current master and it worked fine.

[2016-04-26 23:12] brandonjank commented on #133
give me the file path that you cant delete and ill check

[2016-04-26 23:14] rickbau5 commented on #133
`Spaces/NewFile.java` is the file path. I'm trying from here: https://boss2849.squireproject.com/editor/edit/Spaces/NewFile.java

[2016-04-26 23:19] brec9824 commented on #135
Or maybe authors shouldn't be allowed to follow their own projects. Since they own the project anyways.

[2016-04-26 23:19] brandonjank commented on #133
I'd have to go through your branch, but right now on master deletion works fine

[2016-04-26 23:19] rickbau5 commented on #133
Putting a `dd` before it makes the connection shows that the environment variables the are being passed to firebase are null
I figure it's those variables.
![image](https://cloud.githubusercontent.com/assets/11299264/14837128/a109b69a-0bca-11e6-9e83-0c8d1a7e4609.png)

[2016-04-26 23:20] brandonjank commented on #133
does your .env contain:

[code]

[2016-04-26 23:21] rickbau5 commented on #133
Ah nope that's it.

[2016-04-26 23:21] brandonjank commented on #133
any files created without that in your .env will bork. I recommend pruning your database and the migrating/seeding again

[2016-04-26 23:23] rickbau5 commented on #133
aight cool. thanks for the help!

[2016-04-26 23:23] #133 closed

[2016-04-26 23:24] brandonjank commented on #132
it will, i just didnt remove it to remind me to do it later ;)

[2016-04-26 23:26] brec9824 commented on #132
Ok, then I will just close this

[2016-04-26 23:26] #132 closed

[2016-04-27 01:17] rickbau5 commented on #101
@backburn could you install a jdk onto the server for this please?

[2016-04-27 21:48] brandonjank commented on #110
This behavior was amended with 18dc6d9 and 750a56e. There is no default editor page, and the editor requires a project and file. If they were to click on the project name in the breadcrumb it would then go to the file listing so they could choose a file to edit. No parameters will be forwarded to project page so they can pick a project to see the file listing.

[2016-04-27 21:48] #110 closed

[2016-04-27 21:50] brandonjank commented on #114
I experimented with adding foreign keys using the laravel migration process last night. Its not worth the mess. The easiest thing to get er done before end of semester is for the project controller to explicitly drop all rows corresponding to the project_id.

[2016-04-27 21:51] brandonjank commented on #126
This should be resolved with pull request #136

[2016-04-27 21:52] brandonjank commented on #101
OpenJDK 7 and OpenJRE 7 installed and server setup documentation updated. :dancer:

[2016-04-27 21:54] rickbau5 commented on #114
yeah makes sense. If you call `delete` on a model, then we can override that method to delete corresponding stuff as well. Like so:

[code]

[2016-04-27 21:54] brandonjank commented on #81
This should now be resolved with pull request #136.

[2016-04-27 22:50] #81 closed

[2016-04-28 02:02] brec9824 commented on #126
Resolved with pull request #136

[2016-04-28 02:02] #126 closed

[2016-04-28 02:06] brec9824 opened #138 "Login with email display error"
If you try to login with an email and type in your password incorrectly. The pages formatting breaks down.
![error](https://cloud.githubusercontent.com/assets/16866862/14873428/24fe916a-0cab-11e6-9868-26b21007b99f.PNG)

[2016-04-29 04:18] brec9824 commented on #10
@uidaho/lambda Hey I am setting up deletion of a user plus everything connected to them, but I am not to sure how to handle projects they created. Any thoughts about what to do with the projects? Because I am thinking I will have to figure out away to pass it to someone else thats a member or just delete it.

[2016-04-29 19:39] backburn opened #139 "Means of Distribution and Installation"
Means of Distribution: how can someone download and run your project? If client/server, this is three different things: how to download and run a client, how to download and run a server, and any configuration or pairing actions needed to point the clients at the server.

Complete and polish the installation documentation.

[2016-04-29 19:44] backburn opened #140 "Point squireproject.com at master"
Install a copy of the squire project for the root domain. This will use the current master branch. Ideally, it should automatically update itself when changes are pushed to the master branch.

[2016-04-29 19:46] backburn opened #141 "Put together a runnable finished product"
I think we already have this requirement covered. However, we should discuss anything we may have missed.

[2016-04-29 19:51] backburn opened #142 "Put together end-of-semester documentation"
http://www2.cs.uidaho.edu/~jeffery/courses/383/lecture.html#lecture31

**Coordinating the End of Semester Project Document**

Recommended: everyone allocate a couple/few hours for end-of-semester documentation. Concatenate it all together to form one big document.

Requirements
    Review/update SSRS / Use Cases and Descriptions

Design
    Review/update SSDD / Class Diagrams, Statecharts, archite

[2016-04-29 19:56] backburn opened #143 "Expand testing section to include elements of integration and/or system testing"
http://www2.cs.uidaho.edu/~jeffery/courses/383/lecture.html#lecture29

**Integration Testing**
A set of integration tests would:
- consist probably of a directory, possibly with subdirectories
- include a short rationale explanation of how they are organized
- test pairwise combinations of units or subsystems, with test harnesses that resemble unit tests
- may emphasize more heavily those integrat

[2016-04-29 19:58] backburn opened #144 "Identify a modest list of easy-to-obtain metrics for your system."
Include at least: #directories, #files, #classes, #methods, largest class/method, source lines of code, static disk requirements for binary distribution, run-time memory requirements.

[2016-04-29 20:01] backburn opened #145 "Usability Documentation"
Usability: enough documents or in-game instructions so someone can figure out how to run your project, including the mechanics of various use cases.

[2016-04-29 21:39] brandonjank commented on #105
See issue #145
Closing

[2016-04-29 21:39] #105 closed

[2016-04-29 23:36] rickbau5 commented on #10
Implement a voting system so members can vote for a new project lead. Jk 😉 I say just nuke the project. The alternatives require more work than is probably necessary...

[2016-04-30 05:54] brandonjank commented on #60
Addressed in pull request #146, closing.

[2016-04-30 05:54] #60 closed

[2016-04-30 05:56] brandonjank commented on #55
Closing this, if specific things need testing open a new issue for each one.

[2016-04-30 05:56] #55 closed

[2016-04-30 05:56] brandonjank commented on #41
Dcoumentation can be found on the wiki at https://github.com/uidaho/squireproject/wiki/Setup-IDE

[2016-04-30 05:56] #41 closed

[2016-05-01 00:07] brandonjank commented on #140
complete,

check out https://squireproject.com/projects

[2016-05-01 00:07] #140 closed

[2016-05-02 00:43] brec9824 commented on #114
Added deleting comments and everything connected to the project in pull #147

[2016-05-03 17:25] rickbau5 commented on #95
@backburn this is still an issue. Is this functionality going to be implemented or should these buttons be removed?

[2016-05-03 22:26] #135 closed

[2016-05-03 22:27] #127 closed

[2016-05-03 22:28] brec9824 commented on #114
Fixed in pull #147

[2016-05-03 22:28] #114 closed

[2016-05-03 22:29] brec9824 commented on #12
Added project admin demotion in pull #147

[2016-05-03 22:29] #12 closed

[2016-05-03 22:29] brec9824 commented on #11
Promote user to an admin of project added in pull #147

[2016-05-03 22:29] #11 closed

[2016-05-03 22:30] brec9824 commented on #10
Delete account was added in pull #147

[2016-05-03 22:30] #10 closed

[2016-05-03 22:44] brec9824 opened #148 "squireproject.com cleanup"
Currently squireproject.com has some temp projects with random data. It would be nice to get the database nuked and remigrated. So we could fill it with some nice looking fake projects for display tomorrow.

@backburn maybe tonight or tomorrow morning clear it all after the last merge and tomorrow before class we can all fill in some fake projects to make it look nice.

[2016-05-03 23:48] rickbau5 commented on #95
Working on this since it's an easy extension from compilation stuff

[2016-05-04 02:12] brandonjank commented on #148
I've emptied the DB and created a project called Unit Testing

[2016-05-04 03:13] brandonjank commented on #138
fixed with 580bf27. I must note that the input should be taken by the view and the controller should try the username then email as a key. Really hackish :octopus:  Too late to rewrite though ;)

[2016-05-04 03:13] #138 closed

[2016-05-04 03:24] brandonjank commented on #73
closing.

[2016-05-04 03:24] #73 closed

[2016-05-04 03:28] brandonjank commented on #95
Rename just needs to change the value in the projects table. The firebase uses file_ids and does not care. Ill whip that up now and leave import/export to you. :+1:

[2016-05-04 03:51] brec9824 commented on #22
Added in pull #149

[2016-05-04 03:51] #22 closed

[2016-05-04 04:04] brandonjank commented on #95
rename implimented

[2016-05-04 04:04] rickbau5 commented on #95
@backburn i've done export and import as well as part of mine, that cool?

[2016-05-04 05:07] brandonjank commented on #95
sounds great

[2016-05-04 05:09] brandonjank commented on #148
@brec9824 want to create a few?

[2016-05-04 05:43] brec9824 commented on #148
@backburn I am currently working on something but tomorrow morning I will create a bunch of projects.

[2016-05-04 05:48] brandonjank commented on #142
@brec9824 @rickbau5 compiled project phpdocs can be found at https://squireproject.com/docs/index.html

[2016-05-04 06:06] #94 closed

[2016-05-04 06:07] brandonjank commented on #13
Cleaning up issues, closing unimplemented feature request.

[2016-05-04 06:07] #13 closed

[2016-05-04 06:07] brandonjank commented on #9
Cleaning up issues, closing unimplemented feature request.

[2016-05-04 06:07] #9 closed

[2016-05-04 06:08] brandonjank commented on #15
import covered in #95

closing.

[2016-05-04 06:08] #15 closed

[2016-05-04 06:09] brandonjank commented on #97
Cleaning up issues, closing unimplemented feature request.

[2016-05-04 06:09] #97 closed

[2016-05-04 06:10] brandonjank commented on #65
Cleaning up issues, closing unimplemented feature request.

[2016-05-04 06:10] #65 closed

[2016-05-04 06:10] brandonjank commented on #96
Cleaning up issues, closing unimplemented/unclaimed feature request.

[2016-05-04 06:10] #96 closed

[2016-05-04 06:11] brandonjank commented on #49
Cleaning up issues, closing unimplemented/unclaimed feature request.

[2016-05-04 06:11] #49 closed

[2016-05-04 06:12] brandonjank commented on #99
Completed by @brec9824 and merged, closing.

[2016-05-04 06:12] #99 closed

[2016-05-04 06:13] brandonjank commented on #141
Runable finished product:
https://squireproject.com

code docs:
https://squireproject.com/docs/index.html

[2016-05-04 06:13] #141 closed

[2016-05-04 06:14] brec9824 opened #151 "Files"
I dont know if this is something new that someone just got added or what but every time I create a new file it is filled with a whole bunch of code.

[2016-05-04 06:15] brandonjank commented on #139
@uidaho/lambda Need someone to test these instructions to make sure it works for them.

[2016-05-04 06:15] brandonjank commented on #151
its because of the db wipes, re-using project_ids file_ids

[2016-05-04 06:17] brandonjank commented on #151
All of our projects are using the same firebase database ;) I could wipe the firebase database, but I think that would cause more problems.

[2016-05-04 06:25] brec9824 commented on #151
Ok just wasnt sure what I was seeing.

[2016-05-04 06:25] #151 closed

[2016-05-04 17:35] rickbau5 commented on #101
added with #150

[2016-05-04 17:35] #101 closed

[2016-05-04 17:36] rickbau5 commented on #95
added importing/exporting with #150. Closing

[2016-05-04 17:36] #95 closed

[2016-05-04 18:29] brandonjank commented on #104
Editor checks syntax with color coding on the fly. No linting, however. Closing.

[2016-05-04 18:29] #104 closed

[2016-05-04 18:31] brandonjank commented on #145
@uidaho/lambda Someone want to write the project usability documentation? I know some of you need to have a few more contributions, here is a good one that needs doing.

[2016-05-04 18:31] brandonjank commented on #17
closing, integrated with #89

[2016-05-04 18:31] #17 closed

[2016-05-04 19:34] brec9824 commented on #148
@backburn can we get one more db nuke because I just merged profiles branch

[2016-05-04 20:08] rickbau5 commented on #100
Removing from requirements.

[2016-05-04 20:08] #100 closed

[2016-05-04 20:57] #35 closed

[2016-05-04 20:58] #24 closed

[2016-05-04 20:59] ghost commented on #36
Out of time, feature abandoned.

[2016-05-04 20:59] #36 closed

[2016-05-04 22:39] #148 closed

[2016-05-05 01:41] drop-table-lol opened #153 "Add more settings to settings controller"

[2016-05-05 01:41] drop-table-lol opened #154 "create unit tests for settings controller"

[2016-05-05 01:42] drop-table-lol commented on #154
@drspaceman0

[2016-05-05 01:42] drop-table-lol commented on #153
@drspaceman0

[2016-05-05 01:49] drop-table-lol opened #155 "Update settings PHPdocs"

[2016-05-06 05:14] #155 closed

[2016-05-09 00:18] brec9824 commented on #144
Got some metrics using phpstorm plugin metricsreloaded. Ran this on the directories app, bootstrap, config, database, public, resources, storage, and tests all together. I will add these images to the HW8 folder on cloud9.
![metrics_1](https://cloud.githubusercontent.com/assets/16866862/15101281/ca2c59cc-1540-11e6-81bb-0221a28496da.PNG)
![metrics_files](https://cloud.githubusercontent.com/assets/1

[2016-05-09 02:28] rickbau5 commented on #144
Nice :+1:

[2016-05-13 03:11] brandonjank commented on #139
marking as complete

[2016-05-13 03:11] #139 closed

[2016-05-13 03:12] brandonjank commented on #145
integrated into MRS, closing

[2016-05-13 03:12] #145 closed

[2016-05-13 04:14] brandonjank commented on #144
had to change these out for new ones, it was counting a bunch of dependencies, not just our work. integrated into MRS, closing.

[2016-05-13 04:14] #144 closed

[2016-05-13 04:16] brandonjank commented on #142
All required sections added. Ready for submission. Closing

[2016-05-13 04:16] #142 closed

[2016-05-13 04:17] brandonjank commented on #143
Our testing system is system based and tightly integrated already. Closing.

[2016-05-13 04:17] #143 closed

[2016-05-13 04:17] #98 closed